.spinner {
  border: 1em solid rgba(255, 255, 255, 0.2);
  border-left: 1em solid white;

  animation: spin 2s infinite cubic-bezier(0.65, 0, 0.35, 1);

  &, .spinner:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
  }

  @keyframes spin {
    to {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}
