.spinner {

  border: 0.5rem solid rgba(255, 255, 255, 0.2);
  border-left: 0.5rem solid white;
  animation: spin 2s infinite cubic-bezier(0.65, 0, 0.35, 1);
  aspect-ratio: 1/1;

  &, .spinner:after {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  @keyframes spin {
    to {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}
