.patient {
  &-search-panel {
    @apply w-full h-full flex flex-col align-middle items-center justify-center gap-2;
  }

  &-list {
    @apply transition transition-all duration-1000;
    @apply w-[1000px];

    &--visible {
      @apply flex-grow;
    }

    &-row {
      :nth-child(3) {
        @apply text-center;
      }
      @apply w-full;
      @apply border-y;
      @apply capitalize;
      @apply transition transition-all;

      td {
        max-width: 12rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        @apply bg-sky-800;
      }

      &-button {
        @apply w-full h-full flex justify-center items-center;
        @apply transition transition-all;

        &:hover {
          @apply text-amber-400;
        }
      }
    }
  }
}
