.Button {
  @apply p-2 border-2 rounded-md;
  @apply transition-all duration-150;
  @apply inline-block relative;
  @apply overflow-hidden;
  @apply bg-gray-600;

  &:hover {
    @apply border-amber-400;
    @apply bg-blue-800;
  }
}

.ripple {
  @apply bg-white absolute rounded-full pointer-events-none;
  @apply aspect-square;
  &--white {
    @apply bg-white;
  }
  &--green {
    @apply bg-green-800;
  }
  &--red {
    @apply bg-red-800;
  }

  animation: ripple 1s linear infinite;
  transform: translate(-50%, -50%);

  @keyframes ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0.4;
    }
    100% {
      width: 512px;
      height: 512px;
      opacity: 0;
    }
  }
}
